<div class="wrapper m-5 mt-0">
  <div class="d-flex justify-content-end">
    <a href="/edit" type="button" class="btn btn-outline-primary mb-3">Добавить заказ</a>
    <a href="/client" type="button" class="btn btn-outline-primary mb-3 ml-2">Добавить клиента</a>
  </div>
  <table class="table table-hover">
  <thead class="table-success">
    <tr>
      <th scope="col">#Заказ</th>
      <th scope="col">Дата</th>
      <th scope="col">Статус заказа</th>
      <th scope="col">Сумма</th>
      <th scope="col">Заказчик</th>
      <th scope="col">Комментарий</th>
    </tr>
  </thead>
  <tbody>
    {{#if orders}}
    {{#each orders}}
    <tr>
      <th scope="row">{{this}}</th>
      <td>{{this}}</td>
      <td>{{this}}</td>
      <td>{{this}}</td>
      <td>{{this}}</td>
      <td>{{this}}</td>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>
</div>
