
<div class="wrapper m-5 mt-0 shadow-lg p-5 pt-5 bg-body rounded">
  <div class="d-flex justify-content-start mb-3">
    <a href="/clients/new" type="button" class="btn btn-primary">Добавить клиента</a>
  </div>
  <table class="table table-clients table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ФИО</th>
        <th scope="col">Адрес</th>
        <th scope="col">Телефон</th>
        <th scope="col">Заказы</th>
      </tr>
    </thead>
    <tbody>
      {{#each clients}}
      <tr data-clientid={{this.id}}>
        <td scope="row">{{this.id}}</td>
        <td>{{this.surName}} {{this.name}} {{this.lastName}}</td>
        <td>{{this.adress}}</td>
        <td>{{this.telephone}}</td>
        <td>Заказы</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

