<div class="wrapper">
  <div class="col-10 m-5 mt-0 m-auto shadow-lg p-5 pt-5 bg-body rounded">

  <div class="d-flex justify-content-between">
    <a href="/orders/new" type="button" class="btn btn-primary mb-3">Добавить заказ</a>
    <a href="/clients/new" type="button" class="btn btn-primary mb-3">Добавить клиента</a>
  </div>
  <table class="table table-orders table-ligth">
    <thead>
      <tr>
        <th scope="col">#Заказ</th>
        <th scope="col">Дата доставки</th>
        <th scope="col">Тип мебели</th>
        <th scope="col">Клиент</th>
        <th scope="col">Сумма</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Бригада доставки</th>
      </tr>
    </thead>
    <tbody>

      {{#each orders}}
      <tr data-orderId={{this.id}}>
        <td scope="row">{{this.number}}</td>
        <td class="pe-auto">{{this.Delivery.dataValues.date}}</td>
        <td>{{this.Furniture.dataValues.type}}</td>
        <td>{{this.Client.dataValues.name}} {{this.Client.dataValues.lastName}}</td>
        <td>{{this.Furniture.dataValues.price}}</td>
        <td>{{this.Status.dataValues.type}}</td>
        <td>Бригада {{this.Delivery.dataValues.groupDelivery_id}}</td>
        {{!-- {{#each comment}}
        <td>{{this.dataValues.body}}</td>
        {{/each}} --}}
      </tr>
      {{/each}}
{{!--       
        {{#each comment}}
        <td>{{this.dataValues.body}}</td>
        {{/each}} --}}
 


    </tbody>
  </table>
  </div>
</div>
