<div class="wrapper m-5 mt-0">
  <div class="d-flex justify-content-end">
    <a href="/orders/new" type="button" class="btn btn-outline-primary mb-3">Добавить заказ</a>
    <a href="/clients/new" type="button" class="btn btn-outline-primary mb-3 ml-2">Добавить клиента</a>
  </div>
  <table class="table">
    <thead class="table-success">
      <tr>
        <th scope="col">#Заказ</th>
        <th scope="col">Дата доставки</th>
        <th scope="col">Тип мебели</th>
        <th scope="col">Заказчик</th>
        <th scope="col">Сумма</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Комментарий</th>
      </tr>
    </thead>
    <tbody class="table-hover">

      {{#each orders}}
      <tr id={{this.id}}>
        <td scope="row">{{this.number}}</td>
        <td>{{this.Delivery.dataValues.data}}</td>
        <td>{{this.Furniture.dataValues.type}}</td>
        <td>{{this.Client.dataValues.name}} {{this.Client.dataValues.lastName}}</td>
        <td>{{this.Furniture.dataValues.price}}</td>
        <td>{{this.Status.dataValues.type}}</td>
        {{!-- {{#each comment}}
        <td>{{this.dataValues.body}}</td>
        {{/each}} --}}
      </tr>
      {{/each}}
{{!--       
        {{#each comment}}
        <td>{{this.dataValues.body}}</td>
        {{/each}} --}}
 


    </tbody>
  </table>
</div>
