<div class="wrapper m-5 mt-0 shadow-lg p-5 pt-5 bg-body rounded">
  <div class="d-flex justify-content-end">
    <a href="/users/regusers" type="button" class="btn btn-outline-primary mb-3 ml-2">Добавить сотрудника</a>
  </div>
  <table class="table table-hover table-ligth table-orders">
    <thead>
      <tr>
        <th scope="col">Номер</th>
        <th scope="col">Ф.И.О.</th>
        <th scope="col">Пароль</th>
        <th scope="col">Электронная почта</th>
        <th scope="col">Должность</th>
      </tr>
    </thead>
    <tbody>

      {{#each allUser}}
      <tr data-orderId={{this.id}} class="pe-auto">
        <td scope="row">{{this.id}}</td>
        <td class="pe-auto"><a href="/users/registers/{{this.id}}">{{this.name}}</a></td>
        <td>{{this.password}}</td>
        <td>{{this.email}}</td>        
        <td>{{this.role}}</td>        
      </tr>
      {{/each}}
      
 


    </tbody>
  </table>
</div>
