
<form method="POST" action="/users/groupdeladd" class="col-6 m-auto">
    <div class="mb-3 form-floating">
    <select name="roleBr" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Бригадир сборки</option>
  {{#each brigadirSb}}
      <option value="{{this.name}}">{{this.name}}</option>
  {{/each}}
    </select>
    <label for="floatingSelect">Выберите бригадира</label>
  </div>
  <div class="mb-3 form-floating">
    <select name="roleDost" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Сборщик</option>
  {{#each sbor}}
      <option value="{{this.name}}">{{this.name}}</option>
  {{/each}}
    </select>
    <label for="floatingSelect">Выберите сборщика</label>
  </div>
  <div class="mb-3 form-floating">
    <select name="roleDost2" class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <option selected>Сборщик</option>
  {{#each sbor}}
      <option value="{{this.name}}">{{this.name}}</option>
  {{/each}}
    </select>
    <label for="floatingSelect">Выберите сборщика</label>
  </div>
  <div class="mb-3 form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
